ul {
    padding: 0;
    margin: 0;
}
#header {
    width: 100%;
    margin: auto;
    height: clamp(100px, 100%, 200px);
    /* background-color: #FFF6C4; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: sticky;
    padding-left: 5%;

}
#header h1{
    background: -webkit-linear-gradient(45deg, #E21D76, #76E21D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: clamp(0,5em, 0,75em, 1em);
}

#navbar {
    text-transform: capitalize;
}
#navbar li{
    display: inline;
    font-size: clamp(1em, 1,5em,2em);
    margin-left: 45px;
}

.locale_switcher.fr {
 background-image: url('./assets/fr.svg')
}
.locale_switcher.en {
background-image: url('./assets/uk.svg');
}
.locale_switcher{
    background-size: cover;
    height: 20px;
    width: 30px;
    margin: 0 0 0 10px;
}
@media (max-width: 880px)  {
    #header {
        flex-direction: column;
        padding-bottom: 10%;
    }
    #header h1 {
        font-size: 2em;
    }
    #navbar li {
        display: block;
        margin: 10px 0 0 0;
        font-size: 1em;
    }
}

