#body {
    padding: 0 clamp(10px,20%,200px) 0 clamp(10px,20%,200px);
    animation: fadeIn 5s;
}

.main-component {
    padding-top: 5%;
    text-align: center;
    animation: fadeIn 2s;
}

.about {
    display: flex;
    flex-direction: row;
}
.portrait_img {
    background-image: url('./assets/portrait.png');
    aspect-ratio: 3/4;
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}