body{
  background: #FFFADE;
  color: #6C66B3;
  margin: 0;
  line-height: inherit;
  animation: fadeIn 2s;
}
a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}