@import "tailwindcss";

@theme {
  --color-bg: #0f1517;
  --color-primary: #0091a4;
  --color-secondary: #87ae3f;
  --color-accent: #AD4672;
}
@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  /* padding-top: 130px; */
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
